html {
    scroll-behavior: smooth;
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
}

header {
  background-color: #f0f0f0;
  width: 100%;
  position: fixed;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 200px;
}

.logo {
    text-decoration: none;
    text-transform: uppercase;
    color: #3a6cf4;
    font-weight: 700;
    font-size: 1.8em;
}

.logo:hover {
    opacity: 0.8;
}

.navigation a {
    text-decoration: none;
    color: #3a6cf4;
    font-size: 1.1em;
    font-weight: 500;
    padding-left: 30px;
}

.navigation a:hover {
    color: #601cfc;
}


section {
    padding: 100px 200px;
}

.main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items : center;
    background-image: url("/Portfolio/minimal-dark-coding-wallpaper.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position : center;
    background-attachment: fixed;
}

.main h2 {
    color: white;
    font-size: 1.5em;
    font-weight: 500;


}

.main h2 span {
    margin-top: 10px;
    display: inline-block;
    color : #4e9eff;
    font-size: 1.4em;
    font-weight: 600;
}

.main h3 {
    color: white;
    font-size : 2em;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.main .main-btn {
    color: white;
    background-color: #3a6cf4;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.187em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px;
    transition: 0.5s ease;
}

.main .main-btn:hover {
    background-color: #0a49f6;
    transform: scale(1.1);
}

.social-icons a {
    color: white;
    font-size: 1.7em;
    padding-right: 30px;
}

.title {
    display: flex;
    justify-content: center;
    color: #3a6cf4;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
}

.content {
    display: flex;
    justify-content: center;
    flex: row;
    flex-wrap: wrap;

}

.card {
    background-color: white;
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.7s ease;
    
}

.card:hover {
    transform: scale(1.1);
}

.icon {
    color: #3a6cf4;
    font-size: 8em;
    text-align: center;
}
.social-icons i:hover{
    color: red;
}
.info {
    text-align: center;
}

.info h3 {
    color: #3a6cf4;
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;
}

.projects {
    background-color: #000016;
}

.projects .content {
    margin-top: 30px;
}

.projects .project-card {
    background-color: white;
    border: 1px solid white;
    min-height: 14em;
    width: 23em;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    transition: 0.7s ease;
}

.project-card:hover {
    transform: scale(1.1);
}

.project-card .img img {
    width: 100%;
    transition: 0.7s ease;
}

.project-card:hover .img img{
    opacity: 0.9;
}

.proinfo {
    padding: 1em;
}

.name {
    font-size: 0.8em;
    color: #000;
}
.protitle {
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 10px;
}

.titlesmore {
    text-decoration: none;
    color: #3a6cf4;
}
.titlesmore:hover {
    color: #601cfc;
}

.contact .icon {
    font-size: 4.5em;
}

.contact .info h3 {
    color: #000;
}

.contact .info p {
    font-size: 1.2em;
}


footer {
    background-color: #000016;
    color: white;
    padding: 2em;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}

.footertitle {
    font-size: 1.3em;
    font-weight: 600;
}

.footer .social-icons a{
    font-size: 1.3em;
    padding: 0 12px 0 0;
}
.footertitle span {
    color: #3a6cf4;
}

@media (max-width : 1023px) {
    header {
        padding: 12px 20px;
    }
    .navigation a{
        padding-left: 10px;
    }
    .title {
        font-size:1.8em;
    }
    section {
        padding: 80px 20px;
    }

    .main h2 {
        font-size: 1em;
    }
    .main h3 {
        font-size: 1.6em;
    }
    .content {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width : 641px){
    body {
        font-size: 12px;
    }

    .main h2 {
        font-size: 0.8em;
    }

    .main h3 {
        font-size: 1.4em;
    }
}

@media (max-width : 300px){
    body {
        font-size: 10px;
    }
}